*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 50px;
    font-weight: 900;
}

.container p{
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        display: flex;
        
        text-align: center;
    }

    .container h1{
        font-size: 30px;
    }
    
    .container img {
        width: 60%;
    }
    
    .container p{
        font-size: 20px;
    }
}

